<simple-notifications [options]="options"></simple-notifications>

<div class="puntos">

  <span>Puntos: {{puntos}}</span>
  <span>Record: {{record}}</span>
  <span>Intentos restantes: {{intentosRestantes}}</span>

</div>

<div class="container">
  
  <div class="background">
    <img src="../../../assets/img/AeN-background.jpg" />
  </div>

  <div class="gameover opacidad" [ngClass]="{'gameover':true,'opacidad':true,'ocultar':ocultarGameOver}">
    <img src="../../../assets/img/game-over.jpg" />
    <button (click)="EmpezarJuego()">Volver a jugar</button>
  </div>

  <img src="../../../assets/img/vidente.png" class="adivina" />

  <div class="interfaz">
    <input type="number" placeholder="Escribe el número que pensaste..." min="1" max="100" [(ngModel)]="numeroUsuario" />
    <button (click)="Adivinar()">Adivinar</button>
  </div>

</div>